<!-- -->
<h6> Simply <code>flash</code> a message to the DOM </h6>
<div>
	<button type="button" ng-click="flash()" class="btn btn-primary"> Flash </button>
</div>

<!-- -->
<hr>
<h6 id="unique"> Flash a <code>unique</code> message to the DOM </h6>
<p> This means that any similar messages cannot be duplicated. </p>
<div>
	<button type="button" ng-click="flashUnique()" class="btn btn-info"> Flash Unique </button>
</div>

<!-- -->
<hr>
<h6 id="immortal"> Flash a <strong>immortal</strong> message to the DOM </h6>
<p> Immortal messages will have an <strong>immortal</strong> <code>lifetime</code>, and can only be removed manually (or by clicking the remove button) </p>
<h6> <small> Coming Soon! </small> </h6>